body{
    background-image: url(image/space.jpg);
    background-size: cover;
}
h1{
    color: white;
}
h2{
    color:white;
}
table{
    color: white;
    align-content: center;
}
div{
    text-align: center;
    background: black;
    opacity: .8;
    width: 70%;
    margin: auto;
    border-style: solid;
    border-color: aqua;
}
td.left{
    text-align: right;
}
